In [3]:
import pandas as pd
import numpy as np

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

Dcon = pd.read_sql("SELECT * FROM dcon_prog_inder ORDER BY index",engine)
lcon = pd.read_sql("SELECT * FROM lcon_prog_inder ORDER BY index",engine)

Dcon_b = Dcon['Dcon_b']
Dcon_o = Dcon['Dcon_o']
Dcon_p = Dcon['Dcon_p']

lcon_b = lcon['lcon_b']
lcon_o = lcon['lcon_o']
lcon_p = lcon['lcon_p']


newdf = pd.DataFrame(columns=['Ncon_b','Ncon_o','Ncon_p'], index=range(12))

b = 446
o = 446
p = 446
i=0

while i<=len(lcon_b)-1:
    b = b * lcon_b[i] * Dcon_b[i]/10000
    o = o * lcon_o[i] * Dcon_o[i]/10000
    p = p * lcon_p[i] * Dcon_p[i]/10000
    
    newdf.loc[i].Ncon_b = b 
    newdf.loc[i].Ncon_o = o
    newdf.loc[i].Ncon_p = p    
    i=i+1

newdf.to_sql('ncon_prog_inder', engine, schema='public',if_exists='replace', index = True)

In [4]:
newdf

     Ncon_b   Ncon_o   Ncon_p
0   775.804   757.34  562.707
1   1175.63  1488.38   777.75
2   1266.44  1828.07  777.182
3   1366.75  2240.59  780.046
4   1857.63  3363.85  1001.37
5   2787.45  5497.05  1424.82
6   4376.84  9369.31  2808.13
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN