In [2]:
import pandas as pd
a = pd.read_csv('lamm(2019-2025).csv')
lamm_b = a['lamm_b']
lamm_o = a['lamm_o']
lamm_p = a['lamm_p']

b=100
o=100
p=100
i=0
newdf = pd.DataFrame(columns=['lretS_b','lretS_o','lretS_p'], index=range(12))
while i<=len(lamm_b)-1:
    b = b * ((lamm_b[i]-100)*1.9668775233790248 + 100)/100
    o = o * ((lamm_o[i]-100)*1.9668775233790248 + 100)/100
    p = p * ((lamm_p[i]-100)*1.9668775233790248 + 100)/100

    newdf.loc[i].lretS_b = b
    newdf.loc[i].lretS_o = o
    newdf.loc[i].lretS_p = p
    
    i = i+1
    
lretS_b = newdf['lretS_b']
lretS_o = newdf['lretS_o']
lretS_p = newdf['lretS_p']

In [3]:
lrett_bb = lretS_b.shift(1)
lrett_bb[0] = 100
lret_b = lretS_b/lrett_bb*100

lrett_oo = lretS_o.shift(1)
lrett_oo[0] = 100
lret_o = lretS_o/lrett_oo*100

lrett_pp = lretS_p.shift(1)
lrett_pp[0] = 100
lret_p = lretS_p/lrett_pp*100

new = pd.DataFrame(columns=['lret_b','lret_o','lret_p'])

new.lret_b = lret_b
new.lret_o = lret_o
new.lret_p = lret_p

new

     lret_b   lret_o   lret_p
0   93.5988  93.5988  93.5988
1   94.4855   103.86  99.6849
2   99.4789  99.2779  92.1726
3    92.497  94.1341  94.6679
4    100.91    114.8  99.1552
5   99.2661  99.6345  104.235
6   104.492  105.549  128.975
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [5]:
new.to_csv(r'lret_Isatai(2019-2025).csv', index = False)