In [5]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_fact.csv')

lwtr = csv['o_ifo_water_inder']
lelc = csv['o_ifo_energo_inder']
lman = csv['o_ifo_man_inder']
lmin = csv['o_ifo_mining_inder']

Nwtr = csv['o_prod_water_inder']
Nelc = csv['o_prod_energo_inder']
Nman = csv['o_prod_man_inder']
Nmin = csv['o_prod_mining_inder']

Nind = Nmin+Nman+Nelc+Nwtr

newdf = pd.DataFrame(columns=['Dind','lind','Nind'], index=range(19))
i=7
while i<=18:    
    
    lind = (lmin[i]*Nmin[i-1]+lman[i]*Nman[i-1]+lelc[i]*Nelc[i-1]+lwtr[i]*Nwtr[i-1])/Nind[i-1]    
    Dind=(Nind[i]/Nind[i-1]/lind)*10000
    
    newdf.loc[i].Dind = Dind
    newdf.loc[i].lind = lind
    i= i+1
    
lind = newdf['lind']
Dind = newdf['Dind']
newdf.Nind = Nind[7:]
Nind = newdf['Nind']

newdf.to_csv(r'Dind, lind,Nind (2001-2018).csv',index = False)

       Dind     lind    Nind
0       NaN      NaN     NaN
1       NaN      NaN     NaN
2       NaN      NaN     NaN
3       NaN      NaN     NaN
4       NaN      NaN     NaN
5       NaN      NaN     NaN
6       NaN      NaN     NaN
7   97.3671  115.915  1088.0
8   108.072  92.8708  1092.0
9   105.823  97.5262  1127.0
10  96.9095  131.939  1441.0
11  100.983    132.7  1931.0
12  106.681  97.8637  2016.0
13  103.141  102.918  2140.0
14   86.101  119.345  2199.0
15  92.8955  90.6612  1852.0
16  98.5119  107.814  1967.0
17   103.38  104.009  2115.0
18  96.1726  116.172  2363.0