In [2]:
import pandas as pd
a = pd.read_csv('lamm(2019-2025).csv')
lamm_b = a['lamm_b']
lamm_o = a['lamm_o']
lamm_p = a['lamm_p']

b=100
o=100
p=100
i=0
newdf = pd.DataFrame(columns=['lwhlS_b','lwhlS_o','lwhlS_p'], index=range(12))
while i<=len(lamm_b)-1:
    b = b * ((lamm_b[i]-100)* 0 + 100)/100
    o = o * ((lamm_o[i]-100)* 0 + 100)/100
    p = p * ((lamm_p[i]-100)* 0 + 100)/100

    newdf.loc[i].lwhlS_b = b
    newdf.loc[i].lwhlS_o = o
    newdf.loc[i].lwhlS_p = p
    
    i = i+1
    
lwhlS_b = newdf['lwhlS_b']
lwhlS_o = newdf['lwhlS_o']
lwhlS_p = newdf['lwhlS_p']

newdf

   lwhlS_b lwhlS_o lwhlS_p
0      100     100     100
1      100     100     100
2      100     100     100
3      100     100     100
4      100     100     100
5      100     100     100
6      100     100     100
7      NaN     NaN     NaN
8      NaN     NaN     NaN
9      NaN     NaN     NaN
10     NaN     NaN     NaN
11     NaN     NaN     NaN

In [3]:
lwhlt_bb = lwhlS_b.shift(1)
lwhlt_bb[0] = 100
lwhl_b = lwhlS_b/lwhlt_bb*100

lwhlt_oo = lwhlS_o.shift(1)
lwhlt_oo[0] = 100
lwhl_o = lwhlS_o/lwhlt_oo*100

lwhlt_pp = lwhlS_p.shift(1)
lwhlt_pp[0] = 100
lwhl_p = lwhlS_p/lwhlt_pp*100

new = pd.DataFrame(columns=['lwhl_b','lwhl_o','lwhl_p'])

new.lwhl_b = lwhl_b*0
new.lwhl_o = lwhl_o*0
new.lwhl_p = lwhl_p*0

new

   lwhl_b lwhl_o lwhl_p
0       0      0      0
1       0      0      0
2       0      0      0
3       0      0      0
4       0      0      0
5       0      0      0
6       0      0      0
7     NaN    NaN    NaN
8     NaN    NaN    NaN
9     NaN    NaN    NaN
10    NaN    NaN    NaN
11    NaN    NaN    NaN

In [4]:
new.to_csv(r'lwhl(2019-2025).csv', index =False)