In [2]:
from scipy.stats.mstats import gmean
import pandas as pd
import numpy as np
import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
c = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

inf = c['o_inflation']

newdf = pd.DataFrame(columns=['Dagr_b','Dagr_o','Dagr_p'], index=range(12))

Dagr= inf * 1.0338367547725258 + 100

Dagr_b = Dagr.loc[c.o_script.str.match(r'базовый')].reset_index(drop = True)
Dagr_o = Dagr.loc[c.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Dagr_p = Dagr.loc[c.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf.Dagr_b = Dagr_b
newdf.Dagr_o = Dagr_o
newdf.Dagr_p = Dagr_p

newdf.to_sql('dagr_prog_isatai', engine, schema='public',if_exists='replace', index = True)
newdf

        Dagr_b      Dagr_o      Dagr_p
0   106.203021  106.203021  107.795129
1   106.203021  105.810163  107.795129
2   106.203021  105.810163  106.761292
3   105.169184  104.776326  106.761292
4   105.169184  104.776326  106.761292
5   105.169184  104.776326  106.761292
6   105.169184  104.776326  106.203021
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN