In [2]:
import pandas as pd
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = ((xlsx['o_cattle_makat'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_makat'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_makat']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_makat'] * xlsx['o_weight_poultry']).shift(1))
l[0] = 967.02
l[7] = 967.02
l[14] = 967.02
Ganm = ((xlsx['o_cattle_makat'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_makat'] * xlsx['o_weight_goats']) + (xlsx['o_horses_makat']* xlsx['o_weight_horses']) + (xlsx['o_poultry_makat'] * xlsx['o_weight_poultry']))/l
Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GanmS_b','GanmS_o','GanmS_p'], index=range(12))
b=100
o=100
p=100
i=0
while i<=(len(Ganm_b)-1):
    b = ( b * Ganm_b[i])
    o = ( o * Ganm_o[i])
    p = ( p * Ganm_p[i])
    
    newdf.loc[i].GanmS_b = b
    newdf.loc[i].GanmS_o = o
    newdf.loc[i].GanmS_p = p
    i=i+1
    
GanmS_b=newdf['GanmS_b']
GanmS_o=newdf['GanmS_o']
GanmS_p=newdf['GanmS_p']
newdf

    GanmS_b  GanmS_o  GanmS_p
0   98.8701  98.8701  98.0681
1   98.0681  98.0681  97.6166
2   97.6166  97.6166  97.8031
3   97.8031  97.8031  98.3175
4   98.3175  98.3175  99.4523
5   99.4523  99.4523  100.959
6   100.959  100.959  98.8701
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN