In [6]:
import pandas as pd
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = ((xlsx['o_cattle_kzylkoga'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_kzylkoga'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_kzylkoga']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_kzylkoga'] * xlsx['o_weight_poultry']).shift(1))
l[0] =  17461.04
l[7] =  17461.04
l[14] =  17461.04
Ganm = ((xlsx['o_cattle_kzylkoga'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_kzylkoga'] * xlsx['o_weight_goats']) + (xlsx['o_horses_kzylkoga']* xlsx['o_weight_horses']) + (xlsx['o_poultry_kzylkoga'] * xlsx['o_weight_poultry']))/l * 100
Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
Ganm_b

0    102.886575
1    102.955224
2    103.016310
3    103.058581
4    103.120522
5    103.179440
6    103.244295
dtype: float64

In [7]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = (xlsx['o_potato_kzylkoga'].shift(1) + xlsx['o_grain_kzylkoga'].shift(1) + xlsx['o_vegetables_kzylkoga'].shift(1))
l[0]=0.30
l[7]=0.30
l[14]=0.30
Gplg = ((xlsx['o_potato_kzylkoga'] + xlsx['o_grain_kzylkoga'] + xlsx['o_vegetables_kzylkoga'])/l)*100

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [8]:
i=0
c=100
a=100
b=100
newdf = pd.DataFrame(columns=['largS_b','largS_o','largS_p'], index=range(12))
while i<=(len(Gplg_b)-1):
    c = (c*((((Gplg_b[i]-100) * 0.16913378205671256) + ((Ganm_b[i]-100) * 0.40509396026373273)) + 100)) /100    
    a = (a*((((Gplg_o[i]-100) * 0.16913378205671256) + ((Ganm_o[i]-100) * 0.40509396026373273)) + 100)) /100
    b = (b*((((Gplg_p[i]-100) * 0.16913378205671256) + ((Ganm_p[i]-100) * 0.40509396026373273)) + 100)) /100
   
    newdf.loc[i].largS_b = c
    newdf.loc[i].largS_o = a
    newdf.loc[i].largS_p = b
    i=i+1
    
lagrS_b=newdf['largS_b']
lagrS_o=newdf['largS_o']
lagrS_p=newdf['largS_p']

newdf

    largS_b  largS_o  largS_p
0   100.042  100.042   100.71
1   100.635  100.635  101.309
2   101.234  101.234  101.906
3    101.83   101.83  102.504
4   102.428  102.428  103.825
5   103.748  103.748  103.726
6   103.649  103.649  101.486
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [9]:
lagrt_bb = lagrS_b.shift(1)
lagrt_bb[0] = 100
lagr_b = lagrS_b/lagrt_bb*100

lagrt_oo = lagrS_o.shift(1)
lagrt_oo[0] = 100
lagr_o = lagrS_o/lagrt_oo*100

lagrt_pp = lagrS_p.shift(1)
lagrt_pp[0] = 100
lagr_p = lagrS_p/lagrt_pp*100

new = pd.DataFrame(columns=['lagr_b','lagr_o','lagr_p'])

new.lagr_b = lagr_b
new.lagr_o = lagr_o
new.lagr_p = lagr_p

new

     lagr_b   lagr_o   lagr_p
0   100.042  100.042   100.71
1   100.593  100.593  100.595
2   100.595  100.595  100.588
3   100.588  100.588  100.588
4   100.588  100.588  101.288
5   101.288  101.288  99.9048
6   99.9048  99.9048  97.8408
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [11]:
new.to_csv(r'lagr(2019-2025).csv', index = False)