In [14]:
import pandas as pd

csv = pd.read_csv('Dmin(2019-2025).csv')
Dmin_b=csv['Dmin_b']
Dmin_o=csv['Dmin_o']
Dmin_p=csv['Dmin_p']

Dman_b = (Dmin_b-100)*0.9959132598371605+100
Dman_o = (Dmin_o-100)*0.9959132598371605+100
Dman_p = (Dmin_p-100)*0.9959132598371605+100

In [15]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_fact.csv')
c = pd.read_csv('vrp_ekz_prog.csv')

q = pd.read_csv('lagr(2019-2025).csv')
w = pd.read_csv('lmin(2019-2025).csv')
d = pd.read_csv('Dmin(2019-2025).csv')
e = pd.read_csv('Nagr(2019-2025).csv')
r = pd.read_csv('Nmin(2019-2025).csv')

Nmin_b = r['Nmin_b']
Nmin_o = r['Nmin_o']
Nmin_p = r['Nmin_p']

Nagr_b = e['Nagr_b']
Nagr_o = e['Nagr_o']
Nagr_p = e['Nagr_p']

lagr_b = q['lagr_b']
lagr_o = q['lagr_o']
lagr_p = q['lagr_p']


lmin_b = w['lmin']
lmin_o = w['lmin']
lmin_p = w['lmin']


Nagr =   csv['o_prod_agro_inder']
Nmin = csv['o_prod_mining_inder']
lman=      csv['o_ifo_man_inder']
Nman =    csv['o_prod_man_inder']

year = c['o_year']

lamml_2019_b = (lagr_b[0]*Nagr[18]+lmin_b[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])
lmanS_2019_b = 100*((lamml_2019_b - 100) * 1.0196078488207092 + 100)/100
lman_2019_b = lmanS_2019_b/100 * 100
Nman_2019_b=(Nman[18]*lman_2019_b*Dman_b[0])/10000

lamml_2020_b = (lagr_b[1]*Nagr_b[0]+lmin_b[1]*Nmin_b[0]+lman_2019_b*Nman[18])/(Nagr_b[0]+Nmin_b[0]+ Nman[18])
lmanS_2020_b = lmanS_2019_b *((lamml_2020_b - 100) * 1.0196078488207092 + 100)/100
lman_2020_b = lmanS_2020_b/lmanS_2019_b * 100
Nman_2020_b =(Nman_2019_b*lman_2020_b*Dmin_b[1])/10000



lamml_2019_o = (lagr_o[0]*Nagr[18]+lmin_o[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])
lmanS_2019_o = 100*((lamml_2019_o - 100) * 1.0196078488207092 + 100)/100
lman_2019_o = lmanS_2019_o/100 * 100
Nman_2019_o=(Nman[18]*lman_2019_o*Dman_o[0])/10000

lamml_2020_o = (lagr_o[1]*Nagr_o[0]+lmin_o[1]*Nmin_o[0]+lman_2019_o*Nman[18])/(Nagr_o[0]+Nmin_o[0]+ Nman[18])
lmanS_2020_o = lmanS_2019_o *((lamml_2020_o - 100) * 1.0196078488207092 + 100)/100
lman_2020_o = lmanS_2020_o/lmanS_2019_o * 100
Nman_2020_o=(Nman_2019_o*lman_2020_o*Dmin_o[1])/10000



lamml_2019_p = (lagr_p[0]*Nagr[18]+lmin_p[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])
lmanS_2019_p = 100*((lamml_2019_p - 100) * 1.0196078488207092 + 100)/100
lman_2019_p = lmanS_2019_p/100 * 100
Nman_2019_p=(Nman[18]*lman_2019_p*Dman_p[0])/10000

lamml_2020_p = (lagr_p[1]*Nagr_p[0]+lmin_p[1]*Nmin_p[0]+lman_2019_p*Nman[18])/(Nagr_p[0]+Nmin_p[0]+ Nman[18])
lmanS_2020_p = lmanS_2019_p *((lamml_2020_p - 100) * 1.0196078488207092 + 100)/100
lman_2020_p = lmanS_2020_p/lmanS_2019_p * 100
Nman_2020_p=(Nman_2019_p*lman_2020_p*Dmin_p[1])/10000

b_2019_l =   lman_2019_b
b_2020_l =   lman_2020_b 

b_2019_lS = lmanS_2019_b
b_2020_lS = lmanS_2020_b 

b_2019_ll = lamml_2019_b
b_2020_ll = lamml_2020_b

b_2019_N  = Nman_2019_b



o_2019_l =   lman_2019_o
o_2020_l =   lman_2020_o 

o_2019_lS = lmanS_2019_o
o_2020_lS = lmanS_2020_o 

o_2019_ll = lamml_2019_o
o_2020_ll = lamml_2020_o

o_2019_N  = Nman_2019_o




p_2019_l =   lman_2019_p
p_2020_l =   lman_2020_p 

p_2019_lS = lmanS_2019_p
p_2020_lS = lmanS_2020_p 


p_2019_ll = lamml_2019_p
p_2020_ll = lamml_2020_p

p_2019_N  = Nman_2019_p

In [16]:
lman_2020_b  = b_2020_l
Nman_2019_b  = b_2019_N
lmanS_2020_b = b_2020_lS

i=0
newdf_1 = pd.DataFrame(columns=['Nman_b','lman_b','lmanS_b', 'lamml_b'], index=range(12))

while i<= len(Dman_b)-3:
    lamml_2020_b = (lagr_b[i+2]*Nagr_b[i+1]+lmin_b[i+2]*Nmin_b[i+1]+lman_2020_b*Nman_2019_b)/(Nagr_b[i+1]+Nmin_b[i+1]+Nman_2019_b)
    lmanS_2021_b = lmanS_2020_b*((lamml_2020_b - 100) * (1.0196078488207092) + 100)/100        
    Nman_2019_b = Nman_2019_b*lman_2020_b*Dman_b[i+1]/10000
    lman_2020_b = lmanS_2021_b/lmanS_2020_b * 100
    lmanS_2020_b=lmanS_2021_b
    
    newdf_1.loc[i+1].Nman_b = Nman_2019_b
    newdf_1.loc[i+2].lman_b = lman_2020_b
    newdf_1.loc[i+2].lmanS_b = lmanS_2021_b
    newdf_1.loc[i+2].lamml_b = lamml_2020_b
    i=i+1


Nma = newdf_1['Nman_b']
Nma[0] = b_2019_N
Nman_b = Nma

lma = newdf_1['lman_b']
lma[0] = b_2019_l
lma[1] = b_2020_l
lman_b = lma

lmaS = newdf_1['lmanS_b']
lmaS[0] = b_2019_lS
lmaS[1] = b_2020_lS
lmanS_b = lmaS

lamm = newdf_1['lamml_b']
lamm[0] = b_2019_ll
lamm[1] = b_2020_ll
lamml_b = lamm

newdf_1

     Nman_b   lman_b  lmanS_b  lamml_b
0      1538   104.02   104.02  103.943
1   1687.52  106.272  110.544  106.152
2   1798.32  106.566  117.803   106.44
3    1916.9  106.594   125.57  106.467
4   2043.68  106.614  133.875  106.487
5   2179.29  106.636  142.759  106.508
6   2324.23  106.651  152.254  106.523
7       NaN      NaN      NaN      NaN
8       NaN      NaN      NaN      NaN
9       NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN
11      NaN      NaN      NaN      NaN

In [17]:
lman_2020_o =  o_2020_l
Nman_2019_o =  o_2019_N
lmanS_2020_o = o_2020_lS

i=0
newdf_2 = pd.DataFrame(columns=['Nman_o','lman_o','lmanS_o', 'lamml_o'], index=range(12))

while i<=len(Dman_o)-3:
    lamml_2020_o = (lagr_o[i+2]*Nagr_o[i+1]+lmin_o[i+2]*Nmin_o[i+1]+lman_2020_o*Nman_2019_o)/(Nagr_o[i+1]+Nmin_o[i+1]+Nman_2019_o)
    lmanS_2021_o = lmanS_2020_o*((lamml_2020_o - 100) * (1.0196078488207092) + 100)/100        
    Nman_2019_o = Nman_2019_o*lman_2020_o*Dman_o[i+1]/10000
    lman_2020_o = lmanS_2021_o/lmanS_2020_o * 100
    lmanS_2020_o=lmanS_2021_o
    
    newdf_2.loc[i+1].Nman_o = Nman_2019_o
    newdf_2.loc[i+2].lman_o = lman_2020_o
    newdf_2.loc[i+2].lmanS_o = lmanS_2021_o
    newdf_2.loc[i+2].lamml_o = lamml_2020_o
    i=i+1
    


Nma = newdf_2['Nman_o']
Nma[0] = o_2019_N
Nman_o = Nma

lma = newdf_2['lman_o']
lma[0] = o_2019_l
lma[1] = o_2020_l
lman_o = lma

lmaS = newdf_2['lmanS_o']
lmaS[0] = o_2019_lS
lmaS[1] = o_2020_lS
lmanS_o = lmaS
    
lamm = newdf_2['lamml_o']
lamm[0] = o_2019_ll
lamm[1] = o_2020_ll
lamml_o = lamm

newdf_2

     Nman_o   lman_o  lmanS_o  lamml_o
0   1506.61   104.02   104.02  103.943
1   1898.45  106.273  110.545  106.152
2   2023.02  106.561  117.798  106.435
3   2156.34   106.59  125.562  106.464
4   2298.93  106.612  133.864  106.485
5   2451.46  106.635  142.746  106.507
6   2614.51  106.651   152.24  106.523
7       NaN      NaN      NaN      NaN
8       NaN      NaN      NaN      NaN
9       NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN
11      NaN      NaN      NaN      NaN

In [18]:
lman_2020_p = p_2020_l
Nman_2019_p = p_2019_N
lmanS_2020_p =p_2020_lS
 
i=0
newdf_3 = pd.DataFrame(columns=['Nman_p','lman_p','lmanS_p', 'lamml_p'], index=range(12))

while i<=len(Dman_p)-3:
    lamml_2020_p = (lagr_p[i+2]*Nagr_p[i+1]+lmin_p[i+2]*Nmin_p[i+1]+lman_2020_p*Nman_2019_p)/(Nagr_p[i+1]+Nmin_p[i+1]+Nman_2019_p)
    lmanS_2021_p = lmanS_2020_p*((lamml_2020_p - 100) * (1.0196078488207092) + 100)/100        
    Nman_2019_p = Nman_2019_p*lman_2020_p*Dman_p[i+1]/10000
    lman_2020_p = lmanS_2021_p/lmanS_2020_p * 100
    lmanS_2020_p=lmanS_2021_p
    
    newdf_3.loc[i+1].Nman_p = Nman_2019_p
    newdf_3.loc[i+2].lman_p = lman_2020_p
    newdf_3.loc[i+2].lmanS_p = lmanS_2021_p
    newdf_3.loc[i+2].lamml_p = lamml_2020_p
    i=i+1
    


Nma = newdf_3['Nman_p']
Nma[0] = p_2019_N
Nman_p = Nma

lma = newdf_3['lman_p']
lma[0] = p_2019_l
lma[1] = p_2020_l
lman_p = lma

lmaS = newdf_3['lmanS_p']
lmaS[0] = p_2019_lS 
lmaS[1] = p_2020_lS 
lmanS_p = lmaS
    
lamm = newdf_3['lamml_p']
lamm[0] = p_2019_ll
lamm[1] = p_2020_ll
lamml_p = lamm

newdf_3

     Nman_p   lman_p  lmanS_p  lamml_p
0   1261.08  109.723  109.723  109.536
1    1349.7  107.027  117.433  106.892
2   1439.36  106.643  125.235  106.516
3   1534.54  106.612  133.515  106.485
4   1636.32  106.633  142.371  106.505
5   1745.12  106.649  151.837  106.521
6   1351.19  69.4994  105.526   70.086
7       NaN      NaN      NaN      NaN
8       NaN      NaN      NaN      NaN
9       NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN
11      NaN      NaN      NaN      NaN

In [19]:
newdf = newdf_1.merge(newdf_2, left_index=True, right_index=True).merge(newdf_3, left_index=True, right_index=True)

newdf

,Nman_b,lman_b,lmanS_b,lamml_b,Nman_o,lman_o,lmanS_o,lamml_o,Nman_p,lman_p,lmanS_p,lamml_p
0,1538,104.02,104.02,103.943,1506.61,104.02,104.02,103.943,1261.08,109.723,109.723,109.536
1,1687.52,106.272,110.544,106.152,1898.45,106.273,110.545,106.152,1349.7,107.027,117.433,106.892
2,1798.32,106.566,117.803,106.44,2023.02,106.561,117.798,106.435,1439.36,106.643,125.235,106.516
3,1916.9,106.594,125.57,106.467,2156.34,106.59,125.562,106.464,1534.54,106.612,133.515,106.485
4,2043.68,106.614,133.875,106.487,2298.93,106.612,133.864,106.485,1636.32,106.633,142.371,106.505
5,2179.29,106.636,142.759,106.508,2451.46,106.635,142.746,106.507,1745.12,106.649,151.837,106.521
6,2324.23,106.651,152.254,106.523,2614.51,106.651,152.24,106.523,1351.19,69.4994,105.526,70.086
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
newdf.to_csv(r'lman, Nman_Inder(2019-2025).csv', index = False)