In [8]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

csv = pd.read_sql("SELECT * FROM dmin_prog_kzylkoga ORDER BY index",engine)

Dmin_b=csv['Dmin_b']
Dmin_o=csv['Dmin_o']
Dmin_p=csv['Dmin_p']

Dman_b = (Dmin_b-100)*0.9684154806046421+100
Dman_o = (Dmin_o-100)*0.9684154806046421+100
Dman_p = (Dmin_p-100)*0.9684154806046421+100

Dman_b

0      98.682535
1     103.888866
2     100.000000
3     100.000000
4     100.000000
5     100.000000
6     100.000000
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
Name: Dmin_b, dtype: float64

In [9]:
import pandas as pd

csv = pd.read_sql("SELECT * FROM vrp_ekz_fact ORDER BY id",engine)
c = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

q = pd.read_sql("SELECT * FROM lagr_prog_kzylkoga ORDER BY index",engine)
w = pd.read_sql("SELECT * FROM lmin_prog_kzylkoga ORDER BY index",engine)
d = pd.read_sql("SELECT * FROM Dmin_prog_kzylkoga ORDER BY index",engine)
e = pd.read_sql("SELECT * FROM Nagr_prog_kzylkoga ORDER BY index",engine)
r = pd.read_sql("SELECT * FROM Nmin_prog_kzylkoga ORDER BY index",engine)

Nmin_b = r['Nmin_b']
Nmin_o = r['Nmin_o']
Nmin_p = r['Nmin_p']

Nagr_b = e['Nagr_b']
Nagr_o = e['Nagr_o']
Nagr_p = e['Nagr_p']

lagr_b = q['lagr_b']
lagr_o = q['lagr_o']
lagr_p = q['lagr_p']


lmin_b = w['lmin_b']
lmin_o = w['lmin_o']
lmin_p = w['lmin_p']

Nagr =   csv['o_prod_agro_kzylkoga']
Nmin = csv['o_prod_mining_kzylkoga']
lman=      csv['o_ifo_man_kzylkoga']
Nman =    csv['o_prod_man_kzylkoga']

year = c['o_year']

lamml_2019_b = (lagr_b[0]*Nagr[18]+lmin_b[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])
lmanS_2019_b = 100*((lamml_2019_b - 100) * 1.2910463804516183 + 100)/100
lman_2019_b = lmanS_2019_b/100 * 100
Nman_2019_b=(Nman[18]*lman_2019_b*Dman_b[0])/10000

lamml_2020_b = (lagr_b[1]*Nagr_b[0]+lmin_b[1]*Nmin_b[0]+lman_2019_b*Nman[18])/(Nagr_b[0]+Nmin_b[0]+ Nman[18])
lmanS_2020_b = lmanS_2019_b *((lamml_2020_b - 100) * 1.2910463804516183 + 100)/100
lman_2020_b = lmanS_2020_b/lmanS_2019_b * 100
Nman_2020_b =(Nman_2019_b*lman_2020_b*Dmin_b[1])/10000



lamml_2019_o = (lagr_o[0]*Nagr[18]+lmin_o[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])
lmanS_2019_o = 100*((lamml_2019_o - 100) * 1.2910463804516183 + 100)/100
lman_2019_o = lmanS_2019_o/100 * 100
Nman_2019_o=(Nman[18]*lman_2019_o*Dman_o[0])/10000

lamml_2020_o = (lagr_o[1]*Nagr_o[0]+lmin_o[1]*Nmin_o[0]+lman_2019_o*Nman[18])/(Nagr_o[0]+Nmin_o[0]+ Nman[18])
lmanS_2020_o = lmanS_2019_o *((lamml_2020_o - 100) * 1.2910463804516183 + 100)/100
lman_2020_o = lmanS_2020_o/lmanS_2019_o * 100
Nman_2020_o=(Nman_2019_o*lman_2020_o*Dmin_o[1])/10000



lamml_2019_p = (lagr_p[0]*Nagr[18]+lmin_p[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])
lmanS_2019_p = 100*((lamml_2019_p - 100) * 1.2910463804516183 + 100)/100
lman_2019_p = lmanS_2019_p/100 * 100
Nman_2019_p=(Nman[18]*lman_2019_p*Dman_p[0])/10000

lamml_2020_p = (lagr_p[1]*Nagr_p[0]+lmin_p[1]*Nmin_p[0]+lman_2019_p*Nman[18])/(Nagr_p[0]+Nmin_p[0]+ Nman[18])
lmanS_2020_p = lmanS_2019_p *((lamml_2020_p - 100) * 1.2910463804516183 + 100)/100
lman_2020_p = lmanS_2020_p/lmanS_2019_p * 100
Nman_2020_p=(Nman_2019_p*lman_2020_p*Dmin_p[1])/10000

b_2019_l =   lman_2019_b
b_2020_l =   lman_2020_b 

b_2019_lS = lmanS_2019_b
b_2020_lS = lmanS_2020_b 

b_2019_ll = lamml_2019_b
b_2020_ll = lamml_2020_b

b_2019_N  = Nman_2019_b



o_2019_l =   lman_2019_o
o_2020_l =   lman_2020_o 

o_2019_lS = lmanS_2019_o
o_2020_lS = lmanS_2020_o 

o_2019_ll = lamml_2019_o
o_2020_ll = lamml_2020_o

o_2019_N  = Nman_2019_o




p_2019_l =   lman_2019_p
p_2020_l =   lman_2020_p 

p_2019_lS = lmanS_2019_p
p_2020_lS = lmanS_2020_p 


p_2019_ll = lamml_2019_p
p_2020_ll = lamml_2020_p

p_2019_N  = Nman_2019_p

In [10]:
lman_2020_b  = b_2020_l
Nman_2019_b  = b_2019_N
lmanS_2020_b = b_2020_lS

i=0
newdf_1 = pd.DataFrame(columns=['Nman_b','lman_b','lmanS_b', 'lamml_b'], index=range(12))

while i<= len(Dman_b)-3:
    lamml_2020_b = (lagr_b[i+2]*Nagr_b[i+1]+lmin_b[i+2]*Nmin_b[i+1]+lman_2020_b*Nman_2019_b)/(Nagr_b[i+1]+Nmin_b[i+1]+Nman_2019_b)
    lmanS_2021_b = lmanS_2020_b*((lamml_2020_b - 100) * 1.2910463804516183 + 100)/100        
    Nman_2019_b = Nman_2019_b*lman_2020_b*Dman_b[i+1]/10000
    lman_2020_b = lmanS_2021_b/lmanS_2020_b * 100
    lmanS_2020_b=lmanS_2021_b
    
    newdf_1.loc[i+1].Nman_b = Nman_2019_b
    newdf_1.loc[i+2].lman_b = lman_2020_b
    newdf_1.loc[i+2].lmanS_b = lmanS_2021_b
    newdf_1.loc[i+2].lamml_b = lamml_2020_b
    i=i+1


Nma = newdf_1['Nman_b']
Nma[0] = b_2019_N
Nman_b = Nma

lma = newdf_1['lman_b']
lma[0] = b_2019_l
lma[1] = b_2020_l
lman_b = lma

lmaS = newdf_1['lmanS_b']
lmaS[0] = b_2019_lS
lmaS[1] = b_2020_lS
lmanS_b = lmaS

lamm = newdf_1['lamml_b']
lamm[0] = b_2019_ll
lamm[1] = b_2020_ll
lamml_b = lamm

newdf_1

     Nman_b   lman_b  lmanS_b  lamml_b
0   249.452  88.0774  88.0774  90.7652
1   267.351  103.163  90.8638   102.45
2   255.561  95.5902  86.8568  96.5843
3   258.792  101.264  87.9547  100.979
4   279.246  107.904  94.9064  106.122
5   276.827  99.1338  94.0843  99.3291
6   291.183  105.186  98.9633  104.017
7       NaN      NaN      NaN      NaN
8       NaN      NaN      NaN      NaN
9       NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN
11      NaN      NaN      NaN      NaN

In [11]:
lman_2020_o =  o_2020_l
Nman_2019_o =  o_2019_N
lmanS_2020_o = o_2020_lS

i=0
newdf_2 = pd.DataFrame(columns=['Nman_o','lman_o','lmanS_o', 'lamml_o'], index=range(12))

while i<=len(Dman_o)-3:
    lamml_2020_o = (lagr_o[i+2]*Nagr_o[i+1]+lmin_o[i+2]*Nmin_o[i+1]+lman_2020_o*Nman_2019_o)/(Nagr_o[i+1]+Nmin_o[i+1]+Nman_2019_o)
    lmanS_2021_o = lmanS_2020_o*((lamml_2020_o - 100) * 1.2910463804516183 + 100)/100        
    Nman_2019_o = Nman_2019_o*lman_2020_o*Dman_o[i+1]/10000
    lman_2020_o = lmanS_2021_o/lmanS_2020_o * 100
    lmanS_2020_o=lmanS_2021_o
    
    newdf_2.loc[i+1].Nman_o = Nman_2019_o
    newdf_2.loc[i+2].lman_o = lman_2020_o
    newdf_2.loc[i+2].lmanS_o = lmanS_2021_o
    newdf_2.loc[i+2].lamml_o = lamml_2020_o
    i=i+1
    


Nma = newdf_2['Nman_o']
Nma[0] = o_2019_N
Nman_o = Nma

lma = newdf_2['lman_o']
lma[0] = o_2019_l
lma[1] = o_2020_l
lman_o = lma

lmaS = newdf_2['lmanS_o']
lmaS[0] = o_2019_lS
lmaS[1] = o_2020_lS
lmanS_o = lmaS
    
lamm = newdf_2['lamml_o']
lamm[0] = o_2019_ll
lamm[1] = o_2020_ll
lamml_o = lamm

newdf_2

     Nman_o   lman_o  lmanS_o  lamml_o
0   243.339  88.0774  88.0774  90.7652
1   347.025  116.654  102.746    112.9
2   330.202  95.1522  97.7653  96.2451
3   345.033  104.491  102.156  103.479
4   454.326  131.676  134.516  124.535
5   452.601  99.6203  134.005  99.7059
6   487.924  107.805  144.463  106.045
7       NaN      NaN      NaN      NaN
8       NaN      NaN      NaN      NaN
9       NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN
11      NaN      NaN      NaN      NaN

In [12]:
lman_2020_p = p_2020_l
Nman_2019_p = p_2019_N
lmanS_2020_p =p_2020_lS
 
i=0
newdf_3 = pd.DataFrame(columns=['Nman_p','lman_p','lmanS_p', 'lamml_p'], index=range(12))

while i<=len(Dman_p)-3:
    lamml_2020_p = (lagr_p[i+2]*Nagr_p[i+1]+lmin_p[i+2]*Nmin_p[i+1]+lman_2020_p*Nman_2019_p)/(Nagr_p[i+1]+Nmin_p[i+1]+Nman_2019_p)
    lmanS_2021_p = lmanS_2020_p*((lamml_2020_p - 100) * 1.2910463804516183 + 100)/100        
    Nman_2019_p = Nman_2019_p*lman_2020_p*Dman_p[i+1]/10000
    lman_2020_p = lmanS_2021_p/lmanS_2020_p * 100
    lmanS_2020_p=lmanS_2021_p
    
    newdf_3.loc[i+1].Nman_p = Nman_2019_p
    newdf_3.loc[i+2].lman_p = lman_2020_p
    newdf_3.loc[i+2].lmanS_p = lmanS_2021_p
    newdf_3.loc[i+2].lamml_p = lamml_2020_p
    i=i+1
    


Nma = newdf_3['Nman_p']
Nma[0] = p_2019_N
Nman_p = Nma

lma = newdf_3['lman_p']
lma[0] = p_2019_l
lma[1] = p_2020_l
lman_p = lma

lmaS = newdf_3['lmanS_p']
lmaS[0] = p_2019_lS 
lmaS[1] = p_2020_lS 
lmanS_p = lmaS
    
lamm = newdf_3['lamml_p']
lamm[0] = p_2019_ll
lamm[1] = p_2020_ll
lamml_p = lamm

newdf_3

     Nman_p   lman_p  lmanS_p  lamml_p
0   167.857  80.8971  80.8971  85.2035
1   161.221  96.0466  77.6989  96.9379
2   160.914    99.81  77.5513  99.8528
3   155.707   96.764  75.0417  97.4935
4   154.436  99.1838  74.4292  99.3678
5   159.459  103.252    76.85  102.519
6   202.521  111.735  85.8681  109.089
7       NaN      NaN      NaN      NaN
8       NaN      NaN      NaN      NaN
9       NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN
11      NaN      NaN      NaN      NaN

In [14]:
newdf = newdf_1.merge(newdf_2, left_index=True, right_index=True).merge(newdf_3, left_index=True, right_index=True)
Dman = Dman_b.append(Dman_o).append(Dman_p).dropna().reset_index(drop = True)

Dman.to_sql('dman_prog_kzylkoga', engine, schema='public',if_exists='replace', index = True)
newdf.to_sql('lman_nman_prog_kzylkoga', engine, schema='public',if_exists='replace', index = True)