In [1]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
csv = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

poil = csv['o_oil_price']
rateKZT= csv['o_exchange_rate']

GpoilKZT= ((poil*rateKZT)/(poil.shift(1)*rateKZT.shift(1)))*100
GpoilKZT[0]=((poil[0]*rateKZT[0])/(344.71*71.64))*100

GpoilKZT[1]=((poil[1]*rateKZT[1])/(poil[0]*rateKZT[0]))*100


Dmin = (GpoilKZT-100)*0.9240986537447727 + 100

newdf = pd.DataFrame(columns=['Dmin_b','Dmin_o','Dmin_p'], index=range(12))
Dmin_b = Dmin.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Dmin_o = Dmin.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Dmin_p = Dmin.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf.Dmin_b = Dmin_b
newdf.Dmin_o = Dmin_o
newdf.Dmin_p = Dmin_p

newdf.to_sql('dmin_prog_atyrau', engine, schema='public',if_exists='replace', index = True)

In [2]:
newdf

        Dmin_b      Dmin_o      Dmin_p
0    98.717323   96.362842   73.029088
1   103.786178  121.662324  100.000000
2   100.000000  100.000000  100.000000
3   100.000000  100.000000  100.000000
4   100.000000  100.000000  100.000000
5   100.000000  100.000000  100.000000
6   100.000000  100.000000  113.305689
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN