In [1]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
xlsx = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)
xlsx_f = pd.read_sql("SELECT * FROM vrp_ekz_fact ORDER BY id",engine)

l = ((xlsx['o_cattle_atyrau'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_atyrau'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_atyrau']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_atyrau'] * xlsx['o_weight_poultry']).shift(1))

l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 2159.88
l_o[0]= 2159.88
l_p[0]= 2159.88
l = l_b.append(l_o).append(l_p).reset_index(drop = True)

Ganm = (((xlsx['o_cattle_atyrau'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_atyrau'] * xlsx['o_weight_goats']) + (xlsx['o_horses_atyrau']* xlsx['o_weight_horses']) + (xlsx['o_poultry_atyrau'] * xlsx['o_weight_poultry']))/ l)

Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GanmS_b','GanmS_o','GanmS_p'], index=range(12))

b=100
o=100
p=100
i=0
while i<=(len(Ganm_b)-1):
    
    b = ( b * Ganm_b[i])
    o = ( o * Ganm_o[i])
    p = ( p * Ganm_p[i])
    
    newdf.loc[i].GanmS_b = b
    newdf.loc[i].GanmS_o = o
    newdf.loc[i].GanmS_p = p
    i=i+1
    
GanmS_b=newdf['GanmS_b']
GanmS_o=newdf['GanmS_o']
GanmS_p=newdf['GanmS_p']

newdf.to_sql('ganms_prog_atyrau', engine, schema='public',if_exists='replace', index = True)

In [9]:
newdf

    GanmS_b  GanmS_o  GanmS_p
0   102.324  102.324  104.659
1   104.659  104.659  107.136
2   107.136  107.136  109.637
3   109.637  109.637  112.159
4   112.159  112.159  114.826
5   114.826  114.826  117.505
6   117.505  117.505  102.324
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN