In [4]:
import pandas as pd
import numpy as np
csv_f = pd.read_csv('vrp_ekz_fact.csv')
csv_file = pd.read_csv('vrp_ekz_prog.csv')
Dcon = pd.read_csv('Dcon(2019-2025).csv')
lcon = pd.read_csv('lcon(2019-2025).csv')

Dcon_b = Dcon['Dcon_b']
Dcon_o = Dcon['Dcon_o']
Dcon_p = Dcon['Dcon_p']

lcon_b = lcon['lcon_b']
lcon_o = lcon['lcon_o']
lcon_p = lcon['lcon_p']
Ncon_f = csv_f['o_prod_building_makhambet']


newdf = pd.DataFrame(columns=['Ncon_b','Ncon_o','Ncon_p'], index=range(12))

b = 3283
o = 3283
p = 3283
i=0

while i<=len(lcon_b)-1:
    b = b * lcon_b[i] * Dcon_b[i]/10000
    o = o * lcon_o[i] * Dcon_o[i]/10000
    p = p * lcon_p[i] * Dcon_p[i]/10000
    
    newdf.loc[i].Ncon_b = b    
    newdf.loc[i].Ncon_o = o    
    newdf.loc[i].Ncon_p = p    
    i=i+1

newdf

     Ncon_b   Ncon_o   Ncon_p
0     12699  12393.8  9139.88
1   13942.8  19077.7  9176.94
2   14142.8  19727.5   9289.4
3     14573  21005.3     9929
4   16617.4  26753.1  9998.39
5   16938.6  27845.9  10114.5
6   17410.3  29363.8  12177.1
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [5]:
newdf.to_csv(r'Ncon(2019-2025).csv')