In [3]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')

Gplg = ((xlsx['o_potato_kurmangazy'] + xlsx['o_grain_kurmangazy'] + xlsx['o_vegetables_kurmangazy'])/(xlsx['o_potato_kurmangazy'].shift(1) + xlsx['o_grain_kurmangazy'].shift(1) + xlsx['o_vegetables_kurmangazy'].shift(1))) * 100


l = (xlsx['o_potato_kurmangazy'].shift(1) + xlsx['o_grain_kurmangazy'].shift(1) + xlsx['o_vegetables_kurmangazy'].shift(1))
l[0]=9.22
l[7]=9.22
l[14]=9.22
Gplg = ((xlsx['o_potato_kurmangazy'] + xlsx['o_grain_kurmangazy'] + xlsx['o_vegetables_kurmangazy'])/l)

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GplgS_b','GplgS_o','GplgS_p'], index=range(12))
b=100
o=100
p=100
i=0
while i<=(len(Gplg_b)-1):
    b = ( b * Gplg_b[i])
    o = ( o * Gplg_o[i])
    p = ( p * Gplg_p[i])
    
    newdf.loc[i].GplgS_b = b
    newdf.loc[i].GplgS_o = o
    newdf.loc[i].GplgS_p = p
    i=i+1
    
GplgS_b=newdf['GplgS_b']
GplgS_o=newdf['GplgS_o']
GplgS_p=newdf['GplgS_p']
newdf

    GplgS_b  GplgS_o  GplgS_p
0    104.23   104.23  108.785
1   108.785  108.785  113.557
2   113.557  113.557  118.655
3   118.655  118.655  124.078
4   124.078  124.078  129.826
5   129.826  129.826  135.792
6   135.792  135.792   104.23
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN